body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  left: 0;
}

#page-logo a {
  padding: 10px;
  font-family: "Oleo Script", sans-serif;
  color: rgb(245, 243, 160);
  font-size: 50px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

header ul {
  display: flex;
}

header li a {
  margin-left: 20px;
  text-decoration: none;
  color: rgb(301, 224, 1);
  padding: 8px 12px;
  border-radius: 4px;
  transition: 0.5s;
}

header li a:hover,
header li a:active {
  background-color:rgb(243, 240, 35);
  color: rgb(82, 80, 80);
}
